/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content2, .modal-content3, 
.modal-content4, .modal-content1, .modal-content5, 
.modal-content6, .modal-content7 {
  background-color:  #EAEDED;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius: 20px
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-p {
  font-size : 28px;
  font-family: monospace;
  font-weight: bolder;
  padding : 12px;
}

.info-header {
  font-weight: bolder
}

#points_list li{
  border : 1px black outset;
  margin-bottom : 8px;
}

#points_list li:hover {
  border : 1px black solid;
  cursor : pointer;
  opacity : 0.6;
}

.modal-content2 {
  width : 50%;
}

.modal-content3 {
  width : 50%;
}

.modal-content4 {
  width : 50%;
}

.modal-content1 {
  width : 50%
}

.modal-content5 {
  width: 50%
}

.modal-content6{
  width: 50%
}

.modal-content7{
  width: 45%
}

#booking-info {
  vertical-align: middle;
}

#confirm_edit {
  margin : 8px;
}

.menu_item {
  line-style-type : none
}
