<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/staff.css">
    <link rel="stylesheet" href="/static/css/staff_.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/modal.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Welcome {{name}}</title>
    <link rel="icon" type="image/gif" href="/static/img/uow_icon.jpg" />

  </head>
  <body>

    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="p-4 pt-5">
          <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/static/img/foss.jpg);"></a>
          <ul class="list-unstyled components mb-5">
            <li>
                <a href="#" id="view_room">View/Edit Rooms</a>
            </li>
            <!--So if a staff is an admin-->
            <!--He/She has the basic functions of a staff-->
            <!--Plus approving released rooms-->
            {%block staff%}
              {% if admin %}
                <li>
                    <a href="#" id="view_room_status">View Room Status</a>
                </li>
              {%endif%}
            {%endblock%}
            <li>
                <a href="#" id="add_room">Add Rooms</a>
            </li>
            <li>
                <a href="#" id="add_promo">Add Promo-code</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
          </ul>

          <div class="footer">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>

        </div>
      </nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <!-- Search form -->
                <li>
                  <div class="md-form mt-0">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search_bar">
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <h2 class="mb-4" id='content-header'>Welcome {{name}}</h2>
        <div id='content_'>
          <p>Welcome back to UOW Booking System Staff Portal</p>
        </div>

      </div>
    </div>
    <!-- The Modal -->
          <div id="myModal4" class="modal">
            <!-- Modal content -->
            <div class="modal-content4">
                <span class="close" id = 'close-modal4'>&times;</span>
                <span id = "modal-sub-info" style='color:green;font-weight: bolder;'>Add promotion code</span>
                <div class="booking-form">
                  <div class="form-group">
                    <span class="form-label">Promo Code</span>
                    <input class="form-control" type="text" placeholder="Add Promo code" id = 'promo_code' name = 'promo_code'>
                  </div>
                  <div class="form-group">
                    <span class="form-label">Applicable For</span>
                    <select id="applicable_for" class='form-control'>
                      <option>Staff</option>
                      <option>Student</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <span class="form-label">Value</span>
                    <input class="form-control" type="text" placeholder="Value in percentage (%)" id = 'value' name = 'value'>
                  </div>
                  <table>
                    <tr>
                      <td><button id = 'add_promo_btn' class='btn btn-primary' disabled="">Add Promo Code</button></td>
                    </tr>
                  </table>
                  </div>

                </div>
            </div>

          <!-- The Modal -->
          <div id="myModal2" class="modal">
            <!-- Modal content -->
            <div class="modal-content2">
                <span class="close" id = 'close-modal2'>&times;</span>
                <span id = "modal-sub-info" style='color:green;font-weight: bolder;'>Room <span id="room_id"></span></span>
                <div class="booking-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Available from</span>
                        <input class="form-control" type="date" required id = 'avail_from' name = 'avail_from'>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Available to</span>
                        <input class="form-control" type="date" required id = 'avail_to' name = 'avail_to'>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Rate</span>
                        <input class="form-control" type="text" required id = 'rate' name = 'rate' placeholder="Per day rate in SGD">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Capacity</span>
                        <input class="form-control" type="text" required id = 'capacity' name = 'capacity' placeholder="Capacity">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Campus</span>
                        <select id = 'campus' class='form-control'>
                          <option>Singapore Institute of Management</option>
                          <option>UOW Wollongong Campus</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Occupied</span>
                        <select id='occupied' class='form-control'>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <span class="form-label">Description</span>
                    <input class="form-control" type="text" placeholder="Add Description" id = 'description' name = 'description'>
                  </div>
                  <table>
                    <tr>
                      <td><button id = 'delete_room_btn' class='btn btn-primary'>Delete Room</button></td>
                      <td><button id = 'edit_room_btn' class='btn btn-primary' disabled="">Edit Room</button></td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>

          <!-- The Modal -->
          <div id="myModal3" class="modal">
            <!-- Modal content -->
            <div class="modal-content3">
                <span class="close" id = 'close-modal3'>&times;</span>
                <span id = "modal-sub-info" style='color:green;font-weight: bolder;'>Create a new room</span>
                <div class="booking-form" id = 'add_room_form' >
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Available from</span>
                        <input class="form-control" type="date" required id = 'avail_from_' name = 'avail_from'>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Available to</span>
                        <input class="form-control" type="date" required id = 'avail_to_' name = 'avail_to'>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Rate</span>
                        <input class="form-control" type="text" required id = 'rate_' name = 'rate' placeholder="Per day rate in SGD">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Capacity</span>
                        <input class="form-control" type="text" required id = 'capacity_' name = 'capacity' placeholder="Capacity">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Campus</span>
                        <select id = 'campus_' class='form-control'>
                          <option>Singapore Institute of Management</option>
                          <option>UOW Wollongong Campus</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Occupied</span>
                        <select id='occupied_' class='form-control'>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <span class="form-label">Description</span>
                    <input class="form-control" type="text" placeholder="Add Description" id = 'description_' name = 'description'>
                  </div>
                  <div class="form-group">
                    <span class="form-label">Image File</span>
                    <input class="form-control" type="file" placeholder="Upload Room Image" id = 'img_path_' name = 'img_path' accept=".jpg, .png">
                  </div>
                  <table>
                    <tr>
                      <td><button id = 'add_room_btn' class='btn btn-primary' disabled="">Add Room</button></td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>

          <!-- The Modal -->
          <div id="myModal1" class="modal">
            <!-- Modal content -->
            <div class="modal-content1">
                <span class="close" id = 'close-modal1'>&times;</span>
                <span id = "modal-sub-info" style='color:green;font-weight: bolder;'>Room <span id="room_id_"></span></span>
                <div class="booking-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Available from</span>
                        <input class="form-control" type="date" required id = 'avail_from__' name = 'avail_from_'>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Available to</span>
                        <input class="form-control" type="date" required id = 'avail_to__' name = 'avail_to_'>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Rate</span>
                        <input class="form-control" type="text" required id = 'rate__' name = 'rate__' placeholder="Per day rate in SGD">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Capacity</span>
                        <input class="form-control" type="text" required id = 'capacity__' name = 'capacity__' placeholder="Capacity">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Campus</span>
                        <select id = 'campus__' class='form-control'>
                          <option>Singapore Institute of Management</option>
                          <option>UOW Wollongong Campus</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <span class="form-label">Occupied</span>
                        <select id='occupied__' class='form-control'>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <span class="form-label">Description</span>
                    <input class="form-control" type="text" placeholder="Add Description" id = 'description__' name = 'description_'>
                  </div>
                  <table>
                    <tr>
                      <td><button id = 'approve_btn' class='btn btn-primary'>Approve</button></td>
                      <td><button id = 'disapprove_btn' class='btn btn-primary' disabled="">Disapprove</button></td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>

    <!--JQuery and Bootstrap -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--Custom js script -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/staffAccount.js"></script>
    <script src="/static/js/admin.js"></script>
  </body>
</html>
